site_name: GoSonic2D Ultimate Docs
nav:
  - Home: index.md
  - Getting Started:
    - Zones : getting-started/zones.md
theme:
  name: material
  logo: assets/logo.png
  palette:
    primary: custom
    scheme: slate
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences